{{#or description externalDocs enumValues}}
/**
{{#if description}}
 * {{#indent ' * '}}{{#if description}}{{{description}}}{{/if}}{{/indent}}
{{/if}}
{{#if externalDocs}}
 * <p>External documentation: {{{externalDocs.url}}}</p>
{{#if externalDocs.description}}
 * {{#indent ' * '}}{{{externalDocs.description}}}{{/indent}}
{{/if}}
{{/if}}
{{#if enumValues}}
{{#join "_values" ", "}}
{{#each enumValues}}
{{{value}}}
{{/each}}
{{/join}}
{{#if _values}}
* Values: Unknown, {{{_values}}}
{{/if}}
{{/if}}
 */
{{/or}}
